.s-introduction {
  @include s-basics;

  &__container {
    @include container;
    display: grid;
    gap: 40px;
    grid-template: 'intro' 'directions' / 1fr;

    @media (min-width: $screen-md) {
      gap: 40px;
      grid-template: 'directions intro' / 1fr 1fr;
    }
  }

  &__directions {
    position: relative;
    display: grid;
    grid-area: directions;
    grid-template: 'history' 'memorial' / 1fr;
    align-self: end;
    gap: 15px;

    @media (min-width: $screen-xs) {
      grid-template: 'history memorial' / 1fr 1fr;
      gap: 40px;
    }
  }

  &__directions-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    pointer-events: none;
    opacity: 0.5;
    transform: translateX(-50%);
  }

  &__direction {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    color: $primary-c;
    text-decoration: none;
    background-color: trasparent;
    border: 1px solid $primary-c;
    transition: all 250ms $transition-t;

    @supports ( padding: clamp(20px, 5vw, 30px) ) {
      padding: clamp(15px, 5vw, 20px) clamp(20px, 5vw, 30px);
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-c;

      .s-introduction__direction-arrow {
        transform: translate3d(0.125rem, -0.25rem, 0);
      }
    }

    &--history {
      grid-area: history;
    }

    &--memorial {
      grid-area: memorial;
    }
  }

  &__direction-icon {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;


    svg {
      display: block;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__direction-title {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
    color: currentColor;
  }

  &__direction-arrow {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    transition: all 250ms $transition-t;
    transform: translate3d(0, -0.125rem, 0);

    svg {
      display: block;
      stroke: currentColor;
    }
  }

  &__intro {
    grid-area: intro;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;
  }

  &__title {
    @include s-title;
    @include s-title-margin;
  }
}
