.s-page {
  min-width: 320px;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-size: 100%;
  line-height: 1.5em;

  body {

    &.prevent-scroll {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    &--inner {
      background-color: #f8f7f7;
    }

    &--nav-is-visible {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}
