.s-promo {
  position: relative;
  display: grid;
  height: 510px;
  color: $white;
  background-color: $text-c;

  @media (min-width: $screen-sm) {
    height: 660px;
  }

  &__content {
    @include s-basics;
    z-index: 2;
    grid-area: 1/-1;
    align-self: end;
  }

  &__container {
    @include container;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -0.075em;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: -0.025em;

    @supports ( font-size: clamp(28px, 5vw, 56px) ) {
      margin-left: clamp(-0.075em, 0.125vw, -0.125em);
      font-size: clamp(28px, 5vw, 56px);
      line-height: clamp(1.2em, calc(5vw + 0.15em), 1.1em);
    }
  }

  &__showreel {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__media {
    grid-area: 1/-1;
    min-height: 0;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $text-c;
      opacity: 0.25;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
