.s-article-card {

  &__media {
    position: relative;
    z-index: 1;
    display: block;
    height: clamp(180px, 25vw, 300px);
    margin-bottom: 20px;
    overflow: hidden;
    outline: none;

    &:hover,
    &:focus {

      img {
        transform: scale(1);
      }
    }

    &:focus {
      outline: max(1px, 0.1em) dashed $white;
      outline-offset: -0.25em;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: 1.5s $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }
  }

  &__date {
    display: inline-flex;
    margin-bottom: 5px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    opacity: 0.5;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2em;

    a {
      color: currentColor;
      text-decoration: none;
      outline: none;
      transition: 0.25s $transition-t;

      &:hover,
      &:focus {
        text-decoration: none;
        opacity: 0.75;
      }
    }
  }
}
