mixin article-card(props)

  article.s-article-card
    a.s-article-card__media(href='/')
      img(src=props.media, alt='')
    time.s-article-card__date(datetime='2021-09-19')!= props.date
    h3.s-article-card__title
      a(href='/')!= props.title
    +accent-link('Открыть статью')