.s-slider-nav {
  margin-left: 15px;

  &__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: currentColor;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 60px;
    outline: none;
    transition: 250ms $transition-t;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $primary-c;
      border-radius: 60px;
      transition: transform 0.75s $transition-t--faster;
      transform: scaleX(0);
    }

    svg {
      display: block;
      transition: transform 0.75s $transition-t--faster;
    }

    &:hover,
    &:focus {

      &::before {
        transform: scaleX(1);
      }

      svg {
        fill: $accent-c;
      }
    }

    &--prev {
      margin-right: 15px;

      &::before {
        transform-origin: center left;
      }

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      &:hover,
      &:focus {

        &::before {
          transform-origin: center right;
        }

        svg {
          transform: rotate3d(0, 0, 1, 180deg) translateX(0.125rem);
        }
      }
    }

    &--next {

      &::before {
        transform-origin: center right;
      }

      &:hover,
      &:focus {

        &::before {
          transform-origin: center left;
        }

        svg {
          transform: translateX(0.125rem);
        }
      }
    }
  }
}
