.s-breadcrumbs {
  padding: 0 20px;
  background-color: $white;
  border-bottom: 1px solid $border-c;

  @supports ( padding: clamp(20px, 5vw, 40px) ) {
    padding: 0 clamp(20px, 5vw, 40px);
  }

  @media (max-width: ($screen-sm - 1px)) {
    display: none;
  }

  &__container {
    @include container;
  }

  &__list {
    display: flex;
    padding: 9px 0 10px;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3em;
    color: $text-c;

    &:not(:last-child) {

      &::after {
        margin-left: 10px;
        content: '/';
        opacity: 0.5;
      }
    }

    a {
      color: currentColor;
      text-decoration: none;
      opacity: 0.5;
      transition: 0.125s $transition-t;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    span {
      cursor: default;
    }
  }
}
