.s-featured-services {
  @include s-basics;

  &__container {
    @include container;
  }

  &__title {
    @include s-title;
    @include s-title-margin;
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    grid-template-rows: auto;

    @supports ( gap: clamp(15px, 5vw, 40px) ) {
      gap: clamp(15px, 5vw, 40px);
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }
}
