mixin page-header()

  header.s-page-header&attributes(attributes)
    .s-page-header__container
      +logo('index.html').s-page-header__logo
        img(src='img/logo--red.svg', alt='', width='60', height='62')
      .s-page-header__intro
        .s-page-header__we-are КраснознамЁнец
        .s-page-header__slogan 178 лет на Службе Отечеству
      .s-page-header__nav
        ul
          li(aria-haspopup='true')
            a(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 11 10', width='11', height='10')
                path(d='M5.5 0L6.79837 3.81966H11L7.60081 6.18034L8.89919 10L5.5 7.63932L2.10081 10L3.39919 6.18034L0 3.81966H4.20163L5.5 0Z')
              | Услуги
            div(aria-label='submenu')
              ul
                li: a(href='/') Продукция деревообрабатывающего производства
                li: a(href='/') Разработка, проектирование и испытаение средств инициирования
                li: a(href='/') Средства инициирования и взрывания
                li: a(href='/') Грузоперевозки
                li: a(href='/') Производство синтепона
                li: a(href='/') Производство текстильной продукции
                li: a(href='/') Производство спортивной одежды
              div
          li: a(href='/') Закупки
          li(aria-haspopup='true')
            a(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 11 10', width='11', height='10')
                path(d='M5.5 0L6.79837 3.81966H11L7.60081 6.18034L8.89919 10L5.5 7.63932L2.10081 10L3.39919 6.18034L0 3.81966H4.20163L5.5 0Z')
              | О предприятии
            div(aria-label='submenu')
              ul
                li: a(href='team.html') Руководство
                li: a(href='') Мемориальный комплекс
                li: a(href='') Вакансии
              div
          li: a(href='contacts.html') Контакты
      +burger().s-page-header__burger