.s-page-header {
  position: relative;
  z-index: 10;
  padding: 10px 20px;
  background-color: $white;
  border-bottom: 1px solid $border-c;

  @supports ( padding: clamp(20px, 5vw, 40px) ) {
    padding: 10px clamp(20px, 5vw, 40px);
  }

  &__container {
    @include container;
    display: flex;
    align-items: center;
  }

  &__intro {
    margin-right: auto;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__logo {
    margin-right: 15px;

    @media (max-width: ($screen-sm - 1px)) {
      margin-right: auto;
    }

    img {

      @media (max-width: ($screen-sm - 1px)) {
        width: auto;
        height: 50px;
      }
    }
  }

  &__we-are {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  &__slogan {
    font-size: 14px;
    font-style: italic;
    line-height: 1.4em;
  }

  &__nav {
    margin-left: auto;

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 20px 0;
      margin: 0;
      font-size: 15px;
      line-height: 1.5em;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
      transition: 0.125s $transition-t;

      svg {
        display: inline-block;
        margin-right: 14px;
        vertical-align: baseline;
        fill: currentColor;
      }

      &:hover,
      &:focus {
        color: $primary-c;
      }
    }

    [aria-haspopup='true'] {
      position: relative;
      display: flex;
    }

    [aria-haspopup='true']:hover > [aria-label='submenu'],
    [aria-haspopup='true']:focus-within > [aria-label='submenu'],
    [aria-haspopup='true'] > [aria-label='submenu']:hover {
      pointer-events: all;

      div {
        transition-delay: 0s;
        transform: scaleY(1);
      }

      ul {
        opacity: 1;
        transition-delay: 0.1s;
        transform: translateY(0);
      }
    }

    [aria-label='submenu'] {
      position: absolute;
      top: calc(100% + 11px);
      left: 0;
      padding: 30px 30px 30px 25px;
      pointer-events: none;
      content: '';

      &::before {
        position: absolute;
        top: -11px;
        right: 0;
        bottom: 100%;
        left: 0;
        content: '';
      }

      ul {
        position: relative;
        z-index: 2;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
        opacity: 0;
        opacity: 0;
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 0s;
        transform: translateY(-1.33333rem);
      }

      li {
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      div {
        position: absolute;
        top: 0;
        right: -100vw;
        bottom: 0;
        left: -100vw;
        content: '';
        background-color: $white;
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 0.2s;
        transform: scaleY(0);
        transform-origin: top center;
      }
    }
  }

  &__burger {
    margin-left: 75px;
  }
}
