.s-gallery {

  &__cover {
    display: grid;
    overflow: hidden;
    color: $white;
    text-align: center;
    text-decoration: none;
    cursor: zoom-in;

    &:hover,
    &:focus {

      .s-gallery__media {

        &::after {
          opacity: 0.25;
        }

        img {
          transform: scale(1);
        }
      }
    }
  }

  &__caption {
    z-index: 2;
    grid-area: 1/-1;
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;
  }

  &__media {
    position: relative;
    z-index: 1;
    grid-area: 1/-1;
    height: 250px;
    min-height: 0;

    @media (min-width: $screen-lg) {
      height: 360px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background-color: $text-c;
      opacity: 0.5;
      transition: 0.75s $transition-t;
    }

    img {
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      transition: 0.75s $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }
  }

  &__list {
    display: none;
  }
}
