.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 13px 20px 17px;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: ms(-1);
  font-weight: 700;
  line-height: 1.45em;
  color: currentColor;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 100px;
  transition: all 250ms $transition-t;
}
