.s-nav {
  position: absolute;
  top: 71px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  overflow: scroll;
  visibility: hidden;
  transition: visibility 0s 0.75s;

  @media (min-width: $screen-sm) {
    top: 83px;
  }

  &__main {
    position: relative;
    z-index: 2;
    padding: 30px 20px;

    @supports ( padding: clamp(30px, 7.5vw, 45px) ) {
      padding: clamp(30px, 7.5vw, 45px) clamp(20px, 5vw, 40px) clamp(45px, 7.5vw, 60px);
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #fff;
      transition: 0.75s $transition-t--faster 0.125s;
      transform: scaleY(0);
      transform-origin: center top;
    }
  }

  &__container {
    @include container;
    position: relative;
    display: grid;
    grid-template:
      'services'
      'info'
      'anti-corruption-activities'
      'contacts'
      'location'
      / 1fr;
    opacity: 0;
    transition: 0.5s $transition-t--faster;
    transform: translateY(-30px);
    gap: 40px;

    @media (min-width: $screen-sm) {
      grid-template:
        'contacts services info'
        'location services info'
        'anti-corruption-activities services info' / 4fr 5fr 3fr;
      gap: 40px;
    }

    @media (min-width: $screen-md) {
      grid-template:
        'socials services info anti-corruption-activities'
        'contacts services info anti-corruption-activities'
        'location services info anti-corruption-activities' / 4fr 4fr 2fr 2fr;
      gap: 0 20px;
    }

    @media (min-width: $screen-lg) {
      grid-template:
        'socials services . info anti-corruption-activities'
        'contacts services . info anti-corruption-activities'
        'location services . info anti-corruption-activities' / 4fr 3fr 1fr 2fr 2fr;
      gap: 0 40px;
    }
  }

  &__section {

    &--contacts {
      grid-area: contacts;
      align-self: end;
    }

    &--location {
      grid-area: location;
      align-self: end;
    }

    &--services {
      grid-area: services;

      .s-nav__item {
        font-weight: 500;

        @media (min-width: $screen-lg) {
          font-size: 16px;
          line-height: 1.4em;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    &--info {
      grid-area: info;
    }
  }

  &__socials {
    grid-area: socials;

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }
  }

  &__social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: currentColor;
    text-decoration: none;
    border: 1px solid $border-c;
    border-radius: 50px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background-color: $primary-c;
      border-radius: 50px;
      transition: 0.5s $transition-t;
      transform: scale(0);
    }

    svg {
      position: relative;
      z-index: 2;
      display: block;
      transition: 0.25s $transition-t;
      fill: currentColor;
    }

    &:hover,
    &:focus {

      &::before {
        transform: scale(1.05);
      }

      svg {
        color: $accent-c;
      }
    }
  }

  &__anti-corruption-activities {
    grid-area: anti-corruption-activities;
    align-self: end;

    @media (min-width: $screen-md) {
      text-align: right;
    }

    .s-nav__subtitle {
      margin-bottom: 15px;
      color: $text-c;
    }

    a {
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3em;
      color: currentColor;
      text-decoration: none;
      white-space: nowrap;
      vertical-align: top;
    }
  }

  &__subtitle {
    margin: 0 0 15px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $primary-c;

    @supports ( margin: clamp(15px, 5vw, 30px) ) {
      margin: 0 0 clamp(15px, 5vw, 30px);
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1.5em;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $primary-c;
        text-decoration: none;
        transition: 0.125s $transition-t;
      }
    }
  }

  &__field {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $text-c;
    opacity: 0;
    transition: 1s $transition-t--faster;
  }

  &--is-visible {
    visibility: visible;
    transition-delay: 0s;

    .s-nav__field {
      opacity: 0.2;
    }

    .s-nav__main {

      &::before {
        transition-delay: 0s;
        transform: scaleY(1);
      }
    }

    .s-nav__container {
      opacity: 1;
      transition: 0.75s $transition-t--faster 0.25s;
      transition-delay: 0.25s;
      transform: translateY(0);
    }
  }
}
