mixin nav()

  nav.s-nav
    .s-nav__field
    .s-nav__main
      .s-nav__container

        section.s-nav__section.s-nav__section--contacts
          h3.s-nav__subtitle Связаться
          ul.s-nav__list
            li.s-nav__item
              a(href='tel:+78125275122') +7 (812) 527-51-22
            li.s-nav__item
              a(href='tel:+78124566525') +7 (812) 456-65-25
            li.s-nav__item
              a(href='mailto:krasnozn@mail.ru') krasnozn@mail.ru

        section.s-nav__section.s-nav__section--location
          h3.s-nav__subtitle Адрес
          address
            | 195043, Санкт-Петербург,
            br
            | ул. Челябинская, д. 95

        section.s-nav__section.s-nav__section--services
          h3.s-nav__subtitle Услуги
          ul.s-nav__list
            li.s-nav__item
              a(href='/') Продукция деревообрабатывающего производства
            li.s-nav__item
              a(href='/')
                | Разработка, проектирование
                br
                | и испытаение средств инициирования
            li.s-nav__item
              a(href='/')
                | Средства инициирования
                br
                | и взрывания
            li.s-nav__item
              a(href='/') Грузоперевозки
            li.s-nav__item
              a(href='/') Производство синтепона
            li.s-nav__item
              a(href='/') Производство текстильной продукции
            li.s-nav__item
              a(href='/') Производство спортивной одежды

        section.s-nav__section.s-nav__section--info
          h3.s-nav__subtitle О нас
          ul.s-nav__list
            li.s-nav__item
              a(href='/') О предприятии
            li.s-nav__item
              a(href='/') Мемориальный комплекс
            li.s-nav__item
              a(href='/') Руководство
            li.s-nav__item
              a(href='/') Вакансии
            li.s-nav__item
              a(href='/') Антикоррупциональная деятельность
            li.s-nav__item
              a(href='/') Охрана труда
            li.s-nav__item
              a(href='/') Закупки
            li.s-nav__item
              a(href='/') Контакты

        .s-nav__socials
          a.s-nav__social(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 14', width='24', height='14')
              path(fill-rule='evenodd', d='M3.5253 0H.900229C.150038 0 0 .346611 0 .729769 0 1.41238.889426 4.80067 4.14465 9.28067 6.3136 12.3412 9.37078 14 12.1519 14c1.6696 0 1.8761-.369 1.8761-1.0021v-2.3131c0-.73684.1584-.88421.6865-.88421.3901 0 1.0563.19099 2.6155 1.66581C19.1101 13.216 19.4029 14 20.404 14h2.6263c.7501 0 1.1258-.369.9086-1.0964-.2365-.7239-1.0863-1.7755-2.2146-3.02166-.6121-.70973-1.5292-1.47487-1.8076-1.85802-.3901-.49163-.2785-.70973 0-1.14712 0 0 3.1988-4.42577 3.5325-5.928926C23.6172.402021 23.4492 0 22.6546 0h-2.6251c-.6674 0-.9759.346611-1.1427.729769 0 0-1.3347 3.196121-3.2264 5.272251-.6122.60126-.8906.79343-1.2243.79343-.1669 0-.4081-.19217-.4081-.73802V.947874C14.028.292379 13.8347 0 13.2778 0H9.15112c-.4165 0-.66736.304169-.66736.593011 0 .621309.94584.765139 1.04306 2.513519v3.79739c0 .83351-.15244.98442-.48732.98442-.88943 0-3.05478-3.21146-4.33911-6.88506C4.44833.288842 4.19627 0 3.5253 0Z', clip-rule='evenodd')

        .s-nav__anti-corruption-activities
          h3.s-nav__subtitle Горячая линий по противодействию хищениям, мошенничеству и коррупции
          a(href='tel:+78007008419') 8 (800) 700–84–19