.s-featured-products {
  @include s-basics;
  overflow: hidden;

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
      margin-bottom: clamp(20px, 5vw, 45px);
    }

    @media (min-width: $screen-sm) {
      order: 2;
    }
  }

  &__title {
    @include s-title;
    margin-right: auto;
    margin-bottom: 0;
  }

  &__more,
  &__slider-nav {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__slider {

    @media (min-width: $screen-sm) {
      order: 3;
    }

    .swiper-slide {
      max-width: 580px;
    }
  }

  &__slider-progressbar {
    margin: 45px 0 0;

    @media (min-width: $screen-sm) {
      order: 1;
      margin: 0 0 45px;
    }
  }

  &--sticky-top {

    @media (min-width: $screen-sm) {
      padding-top: 0;
    }
  }
}
