.s-article {
  padding: 0 20px;

  @supports ( padding: clamp(20px, 5vw, 40px) ) {
    padding: 0 clamp(20px, 5vw, 40px);
  }

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 40px;
      grid-template: 'main side' / 8fr 4fr;

      @supports ( gap: clamp(20px, 5vw, 40px) ) {
        gap: clamp(20px, 5vw, 40px);
      }
    }
  }

  &__main {
    grid-area: main;
    padding: 20px 0;

    @supports ( padding: clamp(20px, 5vw, 45px) ) {
      padding: clamp(20px, 5vw, 45px) 0 clamp(45px, 7.5vw, 120px);
    }
  }

  &__media {
    height: 250px;
    margin-bottom: 30px;

    @media (min-width: $screen-lg) {
      height: 360px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__side {
    grid-area: side;
    padding: 20px 0 20px 20px;

    @supports ( padding: clamp(20px, 5vw, 45px) ) {
      padding: clamp(20px, 5vw, 45px) 0 clamp(45px, 7.5vw, 120px) clamp(20px, 5vw, 45px);
    }

    @media (max-width: ($screen-sm - 1px)) {
      padding-left: 0;
      border-top: 1px solid $border-c;
    }

    @media (min-width: $screen-sm) {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        content: '';
        background-color: $border-c;
      }
    }
  }

  &__side-block {

    &:not(:last-child) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $border-c;
    }
  }

  &__title {
    @include s-title;
    margin-bottom: 20px;
  }
}
