.s-team {
  padding: 20px;
  overflow: hidden;

  @supports ( padding: clamp(20px, 5vw, 45px) ) {
    padding: clamp(20px, 5vw, 60px) clamp(20px, 5vw, 40px) clamp(45px, 7.5vw, 120px);
  }

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 20px;

    @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
      margin-bottom: clamp(20px, 5vw, 60px);
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 40px;
      grid-template: 'back-to title' / 4fr 8fr;
    }
  }

  &__back-to-wrap {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
      grid-area: back-to;
      align-self: center;
      justify-content: flex-start;
    }
  }

  &__title {
    @include s-title;
    margin-bottom: 0;

    @media (min-width: $screen-sm) {
      grid-area: title;
      align-self: center;
    }
  }

  &__section-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $primary-c;

    &::before {
      position: relative;
      display: inline-flex;
      width: 8px;
      height: 8px;
      margin-right: 10px;
      vertical-align: baseline;
      content: '';
      background-color: currentColor;
      border-radius: 8px;
    }
  }

  &__ceo {
    margin-bottom: 60px;

    @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
      margin-bottom: clamp(60px, 7.5vw, 120px);
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 40px;
      grid-template: 'ceo-info ceo-photo' / 4fr 8fr;

      .s-team__section-title {
        margin-bottom: auto;
      }
    }
  }

  &__ceo-info {

    a {
      display: block;
      font-weight: 500;
      color: currentColor;
      text-decoration: none;
      white-space: nowrap;
      transition: 0.125s $transition-t;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $primary-c;
      }
    }

    @media (min-width: $screen-sm) {
      display: flex;
      grid-area: ceo-info;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__photo {
    position: relative;
    padding-bottom: calc((1 / (4/3)) * 100%);
    margin-bottom: 15px;
    background-color: #eeecec;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }

    @supports ( aspect-ratio: 4/3 ) {
      width: 100%;
      height: auto;
      padding-bottom: initial;
      aspect-ratio: 4/3;

      img {
        position: relative;
      }
    }

    &--ceo {

      @media (min-width: $screen-sm) {
        grid-area: ceo-photo;
        margin-bottom: 0;
      }
    }
  }

  &__name {
    margin: 15px 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    &--ceo {

      @media (min-width: $screen-md) {
        margin-left: -0.075em;
        font-size: 39px;
        letter-spacing: -0.02em;
      }
    }
  }

  &__note {
    position: relative;
    padding-left: 45px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: rgba($text-c, 0.75);

    &::before {
      position: absolute;
      top: 9px;
      left: 0;
      width: 30px;
      height: 1px;
      content: '';
      background-color: $primary-c;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $primary-c;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    list-style: none;

    @media (min-width: $screen-sm) {
      margin-top: 45px;
    }
  }

  &__contacts-item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__leadership-staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  &__slider {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;

    @supports ( margin-top: clamp(20px, 5vw, 45px) ) {
      margin-top: clamp(20px, 5vw, 45px);
    }

    @media (min-width: $screen-sm) {
      order: 4;
    }
  }

  &__slider-progressbar {
    margin: 45px 0 0;

    @media (min-width: $screen-sm) {
      order: -4;
      margin: 0 0 45px;
    }
  }

  &__card-contacts-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

    a {
      display: block;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4em;
      color: currentColor;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__position {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4em;
  }
}
