.s-accent-btn {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: $white;
  text-decoration: none;
  background-color: $primary-c;
  transition: all 250ms $transition-t;

  @supports ( padding: clamp(20px, 5vw, 30px) ) {
    padding: clamp(15px, 5vw, 20px) clamp(20px, 5vw, 30px);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: darken($primary-c, 10%);
    transition: transform 1s $transition-t--faster;
    transform: scaleY(0);
    transform-origin: center top;
  }

  &:hover,
  &:focus {

    &::before {
      transform: scaleY(1);
      transform-origin: center bottom;
    }

    .s-accent-btn__arrow {
      transform: translate3d(0.125rem, -0.25rem, 0);
    }
  }

  &__icon {
    z-index: 2;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 45px;

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__caption {
    z-index: 2;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
    color: currentColor;
  }

  &__arrow {
    z-index: 2;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    transition: all 0.5s $transition-t;
    transform: translate3d(0, -0.125rem, 0);

    svg {
      display: block;
      stroke: currentColor;
    }
  }
}
