include mixins.pug

doctype html
html(class='no-js s-page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='preconnect', href='https://fonts.googleapis.com')
      link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap')
      link(rel='stylesheet', href='assets/css/swiper-bundle.min.css')
      link(rel='stylesheet', href='assets/css/fancybox.css')
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    .s-page__inner.s-page__inner--inner
      .s-page__content
        block header
          +page-header

        block content
          p Page Content

      .s-page__footer-wrapper
        block footer
          +page-footer
    +nav

    block page-bottom
      script(src='assets/js/jquery.min.js')
      script(src='assets/js/swiper-bundle.min.js')
      script(src='assets/js/fancybox.umd.js')
      script(src='assets/js/tabby.polyfills.min.js')
      script(src='js/main.js')
