include ../blocks/accent-link/accent-link.pug
include ../blocks/article-card/article-card.pug
include ../blocks/back-to-a-previous-page/back-to-a-previous-page.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-search/field-search.pug
include ../blocks/field-text/field-text.pug
include ../blocks/form/form.pug
include ../blocks/logo/logo.pug
include ../blocks/more/more.pug
include ../blocks/nav/nav.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/product-card/product-card.pug
include ../blocks/quick-nav/quick-nav.pug
include ../blocks/service-card/service-card.pug
include ../blocks/showreel/showreel.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
