mixin more()

  a.s-more(href='/', class=allMods)&attributes(attributes)
    svg.s-more__icon(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 60 60', width='60', height='60')
      circle.s-more__out(cx='30', cy='30', r='29.5', opacity='.25')
      circle.s-more__in(cx='30', cy='30', r='29.5')
      g.s-more__dots.s-more__dots--first-group
        circle(cx='38', cy='30', r='2', fill='#22242a')
        circle(cx='30', cy='30', r='2', fill='#22242a')
        circle(cx='22', cy='30', r='2', fill='#22242a')
      g.s-more__dots.s-more__dots--second-group
        circle(cx='38', cy='30', r='2', fill='#22242a')
        circle(cx='30', cy='30', r='2', fill='#22242a')
        circle(cx='22', cy='30', r='2', fill='#22242a')
