.s-tabs {

  &__nav {
    padding: 20px 0 10px;
    border-top: 1px solid $border-c;
    border-bottom: 1px solid $border-c;

    @media (max-width: 374px) {
      padding: 15px 0 10px;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0 10px 10px 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.45em;

      @media (max-width: 374px) {
        margin: 0 5px 5px 0;
        font-size: 12px;
      }
    }

    a {
      display: block;
      padding: 5px 15px;
      color: currentColor;
      text-decoration: none;
      border: 1px solid $border-c;
      border-radius: 50px;
      transition: 0.25s $transition-t;

      &[aria-selected='true'] {
        color: darken($primary-c, 10%);
        cursor: default;
        background-color: rgba($primary-c, 0.125);
        border-color: $primary-c;
      }

      &:hover,
      &:focus {
        border-color: $primary-c;
      }
    }
  }

  &__content {

    &[hidden] {
      display: none;
    }
  }
}
