extends ../pug/layout--inner.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', 'index.html')
    +breadcrumbs-item('Раздел', '/')
    +breadcrumbs-item('Страница')

  section.s-article
    .s-article__container

      .s-article__main
        .s-article__media
          img(src='https://images.unsplash.com/photo-1615309662146-255e7532957e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80', alt='')
        h1.s-article__title О предприятии
        .s-article__text
          p Акционерное общество «Научно-производственное предприятие «Краснознамёнец» (АО «НПП «Краснознамёнец») - это предприятие всероссийского значения - научно-исследовательский, опытно-экспериментальный, испытательный и производственный комплекс по разработке и промышленному освоению десятков современных номенклатур изделий военного и гражданского назначения в области средств инициирования, воспламенения и взрывания.
          p АО «НПП «Краснознамёнец» – одно из старейших военных производств России. Оно было образовано «по высочайшей Государя Императора воле» приказом по военному ведомству от 17 августа 1843 г. за № 703 «Об устройстве Заведения по выделке ударных колпачков и мастерской для приготовления затравочных стержней». За все годы своего существования предприятие постоянно являлось лидером по многим направлениям боеприпасной отрасли. На производственной и методической базе предприятия создано более 5 предприятий на Урале и Украине, в Поволжье и Центральном регионе.

      .s-article__side
        .s-article__side-block
          .s-gallery
            a.s-gallery__cover(data-fancybox='gallery', href='https://images.unsplash.com/photo-1528277246473-0632d63a9377?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80')
              .s-gallery__caption Смотреть фото
              .s-gallery__media
                img(src='https://images.unsplash.com/photo-1528277246473-0632d63a9377?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80', alt='')
            .s-gallery__list
              a.s-certificates__media(data-fancybox='gallery', href='https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80')
              a.s-certificates__media(data-fancybox='gallery', href='https://images.unsplash.com/photo-1615309661755-816dcd80bcd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80')
              a.s-certificates__media(data-fancybox='gallery', href='https://images.unsplash.com/photo-1615309662146-255e7532957e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80')
              a.s-certificates__media(data-fancybox='gallery', href='https://images.unsplash.com/photo-1605256585681-455837661b18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80')
        .s-article__side-block
          +quick-nav()
            +quick-nav-item('Руководство', '/')
            +quick-nav-item('Политика', '/')
            +quick-nav-item('Антикоррупционная деятельность', '/')
            +quick-nav-item('Охрана труда', '/')
            +quick-nav-item('История', '/')
            +quick-nav-item('Мемориальный комплекс', '/')

  section.s-featured-news.s-featured-news--sticky-top
    .s-featured-news__container
      .s-featured-news__header
        h2.s-featured-news__title Новости
        +more.s-featured-news__more
        +slider-nav().s-featured-news__slider-nav
      .s-featured-news__slider
        .swiper-wrapper
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80',
              date: '01.09.2021',
              title: 'Съезд союза Машиностроителей России'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558403121-aa30fd55fdf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1039&q=80',
              date: '19.08.2021',
              title: 'Празднование юбилея Генерального директора'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1615309662146-255e7532957e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80',
              date: '17.08.2021',
              title: 'Ростех призвал сотрудников пройти вакцинацию'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1612991237158-7edd0a803d22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1049&q=80',
              date: '19.08.2021',
              title: 'Празднование юбилея Генерального директора'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1631110744806-5dea4afe7685?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80',
              date: '17.08.2021',
              title: 'Ростех призвал сотрудников пройти вакцинацию'
            })
      +slider-progressbar().s-featured-news__slider-progressbar