extends ../pug/layout--inner.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', 'index.html')
    +breadcrumbs-item('Контакты')

  .s-contacts
    .s-contacts__container
       h1.s-contacts__title Контакты

       section.s-contacts__section.s-contacts__section--head
        .s-contacts__section-intro
          h2.s-contacts__section-title Основные
        .s-contacts__section-info
          .s-contacts__block
            h3.s-contacts__subtitle Связаться
            a(href='tel:+78125273696') +7 (812) 527-36-96
            a(href='tel:+78124566484') +7 (812) 456-64-84
          .s-contacts__block
            h3.s-contacts__subtitle Диспетчер предприятия
            a(href='tel:+78125273696') +7 (812) 527-36-96
            a(href='tel:+78124566484') +7 (812) 456-64-84
          .s-contacts__block
            h3.s-contacts__subtitle E-mail
            a(href='mailto:krasnozn@mail.ru') krasnozn@mail.ru
          .s-contacts__block.s-contacts__block--location
            h3.s-contacts__subtitle Адрес
            address 195043, Санкт-Петербург, ул. Челябинская, д. 95
          .s-contacts__block
            h3.s-contacts__subtitle Следите за нами
            a(href='/') Vkontakte

       section.s-contacts__section.s-contacts__section--departments
        .s-contacts__section-intro
          h2.s-contacts__section-title Отделы
        .s-contacts__section-info
          .s-contacts__block
            h3.s-contacts__block-title Бухгалтерия
            h4.s-contacts__subtitle Связаться
            a(href='tel:+78124566461') +7 (812) 456-64-61
          .s-contacts__block
            h3.s-contacts__block-title Договорной отдел
            h4.s-contacts__subtitle Связаться
            a(href='tel:+78124566506') +7 (812) 456-65-06
          .s-contacts__block
            h3.s-contacts__block-title Отдел кадров
            h4.s-contacts__subtitle Связаться
            a(href='tel:+78124566504') +7 (812) 456-65-04
          .s-contacts__block
            h3.s-contacts__block-title
              | Отдел материально-
              br
              | технического снабжения
            h4.s-contacts__subtitle Связаться
            a(href='tel:+78124566478') +7 (812) 456-64-78
            a(href='tel:+78124566539') +7 (812) 456-65-39
          .s-contacts__block
            h3.s-contacts__block-title Приёмная генерального директора
            h4.s-contacts__subtitle Связаться
            a(href='tel:+78125276057') +7 (812) 527-60-57
          .s-contacts__block
            h3.s-contacts__block-title Канцелярия
            h4.s-contacts__subtitle Связаться
            a(href='tel:+78124566477') +7 (812) 456-64-77

       .s-contacts__section.s-contacts__section--location
        .s-contacts__section-intro
          .s-contacts__badge
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 21', width='16', height='21')
              path(d='M7.99446 0C5.8751.00299567 3.84338.865305 2.34476 2.39786.846141 3.93042.00292933 6.00816 0 8.17553 0 13.7655 7.22676 20.386 7.62907 20.8087c.0425.0593.09807.1075.16219.1407.06413.0333.13501.0506.20689.0506.07189 0 .14277-.0173.2069-.0506.06412-.0332.11969-.0814.16219-.1407C8.70127 20.4558 16 13.8825 16 8.17553c-.0029-2.16933-.8477-4.24878-2.3487-5.78166C12.1503.860984 10.1157-.00000207 7.99446 0Zm0 12.1331c-.76648 0-1.51576-.2325-2.15307-.668-.63731-.4354-1.13404-1.0544-1.42736-1.77858s-.37007-1.52105-.22053-2.28984c.14953-.76879.51863-1.47496 1.06062-2.02922.54199-.55427 1.23252-.93173 1.98428-1.08465.75176-.15292 1.53099-.07444 2.23913.22553.70817.29997 1.31337.80794 1.73927 1.45969.4258.65174.6531 1.41799.6531 2.20183 0 .52046-.1002 1.03582-.295 1.51666-.1948.48088-.4802.91778-.8401 1.28578-.3599.368-.78708.6599-1.25727.8591-.47019.1992-.97414.3017-1.48307.3017Z')
        .s-contacts__section-info
          .s-contacts__map
            img(src='img/map.jpg', alt='')