extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.s-promo
    .s-promo__content
      .s-promo__container
        h1.s-promo__title
          | НПП “КраснознамЁнец”
          br
          | 1-е капсюльное производство России
        +showreel().s-promo__showreel
    .s-promo__media
      video(autoplay='', muted='')
        source(src='video/promo-video.mp4', type='video/mp4')
        source(src='video/promo-video.webm', type='video/webm')
        source(src='video/promo-video.ogv', type='video/ogv')



  section.s-featured-services
    .s-featured-services__container
      h2.s-featured-services__title
        | Товары
        br
        | и услуги
      ul.s-featured-services__list
        li.s-featured-services__item
          +service-card({
            title: 'Разработка, промышленное освоение средств средств инициирования, взрывания и воспламенения',
            media: 'https://images.unsplash.com/photo-1629904853716-f0bc54eea481?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80'
          })
        li.s-featured-services__item
          +service-card({
            title: 'Средства инициирования, взрывания и воспламенения',
            media: 'https://images.unsplash.com/photo-1526570207772-784d36084510?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80'
          })
        li.s-featured-services__item
          +service-card({
            title: 'Производство текстильной продукции',
            media: 'https://images.unsplash.com/photo-1601942881328-84d2f9c1ac16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
          })
        li.s-featured-services__item
          +service-card({
            title: 'Транспортные услуги',
            media: 'https://images.unsplash.com/photo-1580810709908-18897488fdb2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
          })
        li.s-featured-services__item
          +service-card({
            title: 'Производство спортивной одежды',
            media: 'https://images.unsplash.com/photo-1587052694737-a972e4186288?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'
          })
        li.s-featured-services__item
          +service-card({
            title: 'Продукция деревообрабатывающего производства',
            media: 'https://images.unsplash.com/photo-1544201581-534b6c3d132a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80'
          })
        li.s-featured-services__item
          +service-card({
            title: 'Производство синтепона',
            media: 'https://images.unsplash.com/photo-1507537417841-81e85feb9bd2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80'
          })
        li.s-featured-services__item
          +service-card({ title: 'Смотреть все услуги и товары' }, true)



  section.s-introduction
    .s-introduction__container
      .s-introduction__directions
        .s-introduction__directions-bg
          img(src='img/logo.svg', alt='', width='180', height='186')
        a.s-introduction__direction.s-introduction__direction--history(href='/')
          .s-introduction__direction-icon
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
              path(stroke-linecap='round', stroke-linejoin='round', d='M12.4769 7.98258c1.575 0 2.8516-1.34484 2.8516-3.00401 0-1.65827-1.2766-3.00402-2.8516-3.00402m1.3113 9.27265c.4705.0337.9375.1048 1.3985.2123.6392.1339 1.409.41 1.6823 1.0141.1747.3872.1747.8382 0 1.2254-.2725.6041-1.0431.8802-1.6823 1.0187M6.91676 11.894c3.19144 0 5.91764.5093 5.91764 2.5439 0 2.0355-2.7089 2.5621-5.91764 2.5621C3.72529 17 1 16.4916 1 14.4561s2.70799-2.5621 5.91676-2.5621Zm0-2.90425c-2.10516 0-3.79171-1.77763-3.79171-3.99533C3.12505 2.77763 4.8116 1 6.91676 1s3.79254 1.77763 3.79254 3.99442c0 2.2177-1.68738 3.99533-3.79254 3.99533Z')
          h3.s-introduction__direction-title
            | История
            br
            | предприятия
          .s-introduction__direction-arrow
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', width='10', height='10')
              path(stroke-linecap='round', stroke-linejoin='round', d='M3 1h6m0 0L1 9m8-8v6')
        a.s-introduction__direction.s-introduction__direction--memorial(href='/')
          .s-introduction__direction-icon
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
              path(stroke-linecap='round', stroke-linejoin='round', d='m3.19398 12.864 1.32437-1.3988c.46024-.4882 1.22731-.5116 1.71615-.052.01473.0147.81213.8256.81213.8256.48104.4899 1.26717.4977 1.75688.0173.03207-.0312 2.02299-2.44725 2.02299-2.44725.5131-.62353 1.4344-.71285 2.0585-.1986.0416.03469 1.9224 1.96595 1.9224 1.96595M17 5.46526v7.06864C17 15.1528 15.3619 17 12.7443 17H5.24702C2.62947 17 1 15.1528 1 12.5339V5.46526C1 2.84629 2.63814 1 5.24702 1h7.49728C15.3619 1 17 2.84629 17 5.46526ZM7.5548 6.53531c0 .84032-.68039 1.52108-1.52026 1.52108-.83987 0-1.52026-.68076-1.52026-1.52108 0-.84033.68039-1.52109 1.52026-1.52109.83987.00087 1.52026.68076 1.52026 1.52109Z')
          h3.s-introduction__direction-title
            | Мемориальный
            br
            | комплекс
          .s-introduction__direction-arrow
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', width='10', height='10')
              path(stroke-linecap='round', stroke-linejoin='round', d='M3 1h6m0 0L1 9m8-8v6')
      .s-introduction__info
        h2.s-introduction__title О предприятии
        .s-introduction__text
          p Акционерное общество «Научно-производственное предприятие «Краснознамёнец» (АО «НПП «Краснознамёнец») - это предприятие всероссийского значения - научно-исследовательский, опытно-экспериментальный, испытательный и производственный комплекс по разработке и промышленному освоению десятков современных номенклатур изделий военного и гражданского назначения в области средств инициирования, воспламенения и взрывания.



  section.s-advantages
    .s-advantages__content
      .s-advantages__container
        h2.s-advantages__title Компетенции
        ul.s-advantages__list
          li.s-advantages__item
            h3.s-advantages__subtitle Узлы и агрегаты
            .s-advantages__desc
              p Холдинг является крупнейшим в России интегратором авиационных систем, занимая свыше 30% рынка отечественного агрегатостроения.
          li.s-advantages__item
            h3.s-advantages__subtitle Проектирование
            .s-advantages__desc
              p Холдинг является крупнейшим в России интегратором авиационных систем, занимая свыше 30% рынка отечественного агрегатостроения.
          li.s-advantages__item
            h3.s-advantages__subtitle Парашютные системы
            .s-advantages__desc
              p Холдинг является крупнейшим в России интегратором авиационных систем, занимая свыше 30% рынка отечественного агрегатостроения.
          li.s-advantages__item
            h3.s-advantages__subtitle Узлы и агрегаты
            .s-advantages__desc
              p Холдинг является крупнейшим в России интегратором авиационных систем, занимая свыше 30% рынка отечественного агрегатостроения.
          li.s-advantages__item
            h3.s-advantages__subtitle Проектирование
            .s-advantages__desc
              p Холдинг является крупнейшим в России интегратором авиационных систем, занимая свыше 30% рынка отечественного агрегатостроения.
          li.s-advantages__item
            h3.s-advantages__subtitle Парашютные системы
            .s-advantages__desc
              p Холдинг является крупнейшим в России интегратором авиационных систем, занимая свыше 30% рынка отечественного агрегатостроения.
    .s-advantages__bg-media
      img(src='https://images.unsplash.com/photo-1490781744427-4ed7163d1eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2851&q=80', alt='')



  section.s-featured-news
    .s-featured-news__container
      .s-featured-news__header
        h2.s-featured-news__title Новости
        +more.s-featured-news__more
        +slider-nav().s-featured-news__slider-nav
      .s-featured-news__slider
        .swiper-wrapper
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80',
              date: '01.09.2021',
              title: 'Съезд союза Машиностроителей России'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558403121-aa30fd55fdf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1039&q=80',
              date: '19.08.2021',
              title: 'Празднование юбилея Генерального директора'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1615309662146-255e7532957e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80',
              date: '17.08.2021',
              title: 'Ростех призвал сотрудников пройти вакцинацию'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1612991237158-7edd0a803d22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1049&q=80',
              date: '19.08.2021',
              title: 'Празднование юбилея Генерального директора'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1631110744806-5dea4afe7685?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80',
              date: '17.08.2021',
              title: 'Ростех призвал сотрудников пройти вакцинацию'
            })
      +slider-progressbar().s-featured-news__slider-progressbar