extends ../pug/layout--inner.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', 'index.html')
    +breadcrumbs-item('Раздел', '/')
    +breadcrumbs-item('Страница')

  section.s-service
    .s-service__intro
      .s-service__slider
        .swiper-wrapper
          .swiper-slide
            .s-service__slide-media
              img(src='https://images.unsplash.com/photo-1629904853716-f0bc54eea481?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80', alt='')
          .swiper-slide
            .s-service__slide-media
              img(src='https://images.unsplash.com/photo-1629904853893-c2c8981a1dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80', alt='')
          .swiper-slide
            .s-service__slide-media
              img(src='https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80', alt='')

      .s-service__control
        .s-service__container
          .s-service__control-wrap
            button.s-service__slider-nav-btn.s-service__slider-nav-btn--prev Пред.
            +slider-progressbar().s-service__slider-progressbar
            button.s-service__slider-nav-btn.s-service__slider-nav-btn--next След.

      .s-service__info
        .s-service__container
          .s-service__info-wrap
            h1.s-service__title Производство синтепона
            dl.s-service__types
              .s-service__type
                dt.s-service__type-term Термо
                dd.s-service__type-desc
                  | Объем: 80 гр/кв.м.
                  br
                  | Рулон: 70 м/п
              .s-service__type
                dt.s-service__type-term Клеевой
                dd.s-service__type-desc
                  | Объем: 100 гр/кв.м.
                  br
                  | Рулон: 70 м/п
              .s-service__type
                dt.s-service__type-term Холофан
                dd.s-service__type-desc
                  | Объем: от 120 гр/кв.м.
                  br
                  | Рулон: 35 - 50 м/п
            a.s-accent-btn.s-service__order(href='/')
              .s-accent-btn__icon
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
                  path(d='M1.22361.552786C.976618.429292.676281.529404.552786.776393c-.123494.246987-.023382.547327.223607.670817L1.22361.552786ZM5.92432 10.1239l.48754-.111-.001-.0042-.48654.1152Zm1.11353.777.0539.4971-.0539-.4971Zm7.65715-.8302-.0539-.49713.0539.49713Zm.859-.6777-.4731-.16162.4731.16162Zm1.3926-4.07677-.4731-.16163.4731.16163ZM4.52975 3.5c-.27615 0-.5.22386-.5.5s.22385.5.5.5v-1Zm2.28037 7.4009.05429-.497-.05429.497ZM4 13l-.29922-.4006c-.17257.1289-.24319.3538-.17527.5583.06791.2044.2591.3423.47449.3423V13Zm.10882-10.0441-.48613.11695.48613-.11695Zm-.48613.11695c.34393 1.42959.62049 2.47241.89934 3.53113.27863 1.05786.55999 2.13326.91576 3.63522l.97307-.2305c-.35868-1.51423-.64255-2.59916-.92181-3.65942-.27904-1.05942-.55301-2.09254-.8941-3.51034l-.97226.23391ZM7.09175 11.398l7.65715-.8303-.1078-.99413-7.65715.83023.1078.9942Zm8.93545-1.84337 1.3926-4.07678-.9463-.32325-1.3926 4.07678.9463.32325ZM15.9745 3.5H4.52975v1H15.9745v-1Zm1.4453 1.97785C17.7575 4.48933 16.9991 3.5 15.9745 3.5v1c.3743 0 .6037.34806.499.6546l.9463.32325Zm-2.6709 5.08985c.5849-.0634 1.0874-.4542 1.2783-1.01307l-.9463-.32325c-.0619.18116-.2301.31946-.4398.34219l.1078.99413ZM5.62382 15c0 .817-.68214 1.5-1.54953 1.5v1c1.39647 0 2.54953-1.1078 2.54953-2.5h-1Zm-1.54953 1.5c-.86738 0-1.54953-.683-1.54953-1.5h-1c0 1.3922 1.15307 2.5 2.54953 2.5v-1ZM2.52476 15c0-.817.68215-1.5 1.54953-1.5v-1c-1.39646 0-2.54953 1.1078-2.54953 2.5h1Zm1.54953-1.5c.86739 0 1.54953.683 1.54953 1.5h1c0-1.3922-1.15306-2.5-2.54953-2.5v1ZM15.8715 15c0 .817-.6822 1.5-1.5496 1.5v1c1.3965 0 2.5496-1.1078 2.5496-2.5h-1Zm-1.5496 1.5c-.8673 0-1.5495-.683-1.5495-1.5h-1c0 1.3922 1.1531 2.5 2.5495 2.5v-1ZM12.7724 15c0-.817.6822-1.5 1.5495-1.5v-1c-1.3964 0-2.5495 1.1078-2.5495 2.5h1Zm1.5495-1.5c.8674 0 1.5496.683 1.5496 1.5h1c0-1.3922-1.1531-2.5-2.5496-2.5v1Zm-8.8851-3.265c.1464.6428.69138 1.0944 1.31904 1.1629l.10857-.994c-.22561-.0247-.40564-.1849-.45257-.391l-.97504.2221Zm1.31904 1.1629c.10999.0121.22252.0124.33591.0001l-.1078-.9942c-.0409.0044-.08089.0043-.11954.0001l-.10857.994Zm-.24494-.8976-2.81012 2.0991.59845.8012 2.81012-2.0991-.59845-.8012ZM4 13.5h10.3219v-1H4v1Zm2.67556-2.1176 7.51184 2.0992.2691-.9632-7.51181-2.0991-.26913.9631ZM.776393 1.44721 3.35828 2.73816l.44721-.89443L1.22361.552786l-.447217.894424ZM4.59495 2.83894c-.10342-.42988-.39109-.79603-.78946-.99521l-.44721.89443c.13159.06579.22924.1885.26441.33469l.97226-.23391Z')
              .s-accent-btn__caption Заказать
              .s-accent-btn__arrow
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', width='10', height='10')
                  path(stroke-linecap='round', stroke-linejoin='round', d='M3 1h6m0 0L1 9m8-8v6')

    .s-service__full-info
      .s-service__container
        .s-tabs

          .s-tabs__nav.s-service__tabs-nav
            h3.s-service__tabs-title О товаре
            ul(data-tabs='')
              li
                a(data-tabby-default='', href='#desc') Описание
              li
                a(href='#documents') Документы
              li
                a(href='#media') Медиа

          .s-tabs__content.s-service__desc(id='desc')
            .s-service__desc-block.s-service__desc-block--info
              h4.s-service__tabs-content-title Описание
              .s-service__tabs-content-text
                p АО «НПП «Краснознамёнец» осуществляет производство и продажу нетканого материала синтепона, который имеет отличные потребительские свойства, безопасен для здоровья, придает изделиям комфортность и привлекательный внешний вид, обладает антиаллергенными свойствами.
                p Собственное производство позволяет нам гарантировать отличные потребительские свойства продукции и надежно контролировать технологический процесс производства.
            .s-service__desc-block.s-service__desc-block--package
              h4.s-service__tabs-content-title Упаковка
              .s-service__tabs-content-text
                p Поставка синтепона осуществляется в виде рулонов, упакованных в полиэтилен. Для снижения транспортных расходов, по желанию заказчика, материал может быть вакуумирован.
            .s-service__desc-block.s-service__desc-block--composition
              h4.s-service__tabs-content-title Состав
              .s-service__tabs-content-text
                ul
                  li Наполнитель стабилизированный из синтепона, кг
                  li Синтепух (шарики), кг
                  li Синтепух (прочёс), кг
            .s-service__desc-block.s-service__desc-block--scope
              h4.s-service__tabs-content-title Сфера использования
              .s-service__tabs-content-text
                ul
                  li Для мягкой мебели
                  li Для производства фильтров
            .s-service__desc-block.s-service__desc-block--types
              h4.s-service__tabs-content-title Виды
              .s-service__tabs-content-text
                ul
                  li Клеевой
                  li Термоскрепленный
                  li Холофан
          .s-tabs__content.s-service__documents(id='documents') 2
          .s-tabs__content.s-service__media(id='media') 3



  section.s-featured-products
    .s-featured-products__container
      .s-featured-products__header
        h2.s-featured-products__title Новости
        +more.s-featured-products__more
        +slider-nav().s-featured-products__slider-nav
      .s-featured-products__slider
        .swiper-wrapper
          .swiper-slide
            +product-card({
              media: 'img/product.jpg'
            })
          .swiper-slide
            +product-card({
              media: 'img/product.jpg'
            })
          .swiper-slide
            +product-card({
              media: 'img/product.jpg'
            })
          .swiper-slide
            +product-card({
              media: 'img/product.jpg'
            })
          .swiper-slide
            +product-card({
              media: 'img/product.jpg'
            })
      +slider-progressbar().s-featured-products__slider-progressbar