extends ../pug/layout--inner.pug

block meta
  - var title = 'Team';
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', 'index.html')
    +breadcrumbs-item('Руководство')

  .s-team
    .s-team__container

      .s-team__header
        .s-team__back-to-wrap
          +back-to-a-previous-page('/')
        h1.s-team__title Руководство

      section.s-team__ceo
        .s-team__photo.s-team__photo--ceo
          img(src='img/varenitsa.jpg', alt='')
        .s-team__ceo-info
          h2.s-team__section-title Генеральный директор
          .s-team__ceo-info-inner
            .s-team__name.s-team__name--ceo
              | Виктор
              br
              | Иванович
              br
              | Вареница
            .s-team__note
              | Кандидат технических наук,
              br
              | доцент
            ul.s-team__contacts-list
              li.s-team__contacts-item
                h3.s-team__subtitle Приемная
                a(href='tel:+78125276057') +7 (812) 527-60-57
              li.s-team__contacts-item
                h3.s-team__subtitle E-mail
                a(href='mailto:krasnozn@mail.ru') krasnozn@mail.ru

      section.s-team__leadership-staff
        h2.s-team__section-title Руководящий состав
        +slider-nav().s-team__slider-nav

        mixin team-card(props)
          .s-team__card
            .s-team__photo
              img(src=props.photo, alt='')
            .s-team__name
              != props.fullName.name
              br
              != props.fullName.patronymic
              br
              != props.fullName.surname
            .s-team__position!= props.position

            if props.note
              .s-team__note!= props.note

            .s-team__card-contacts-group
              h3.s-team__subtitle Связаться
              a(href='tel:')!= props.phone
              a(href='mailto:')!= props.mail

        .s-team__slider
          .swiper-wrapper
            .swiper-slide
              +team-card({
                photo: 'img/gorbunov.png',
                fullName: {
                  name: 'Валерий',
                  patronymic: 'Валерьевич',
                  surname: 'Горбунов'
                },
                position: 'Первый заместитель, директор по производству',
                note: 'Кандидат технических наук',
                phone: '+7 (812) 527-50-67',
                mail: 'krasnozn@mail.ru'
              })
            .swiper-slide
              +team-card({
                photo: 'img/kuptsov.png',
                fullName: {
                  name: 'Павел',
                  patronymic: 'Владимирович',
                  surname: 'Купцов'
                },
                position: 'Директор по науке',
                note: 'Кандидат технических наук, доцент',
                phone: '+7 (812) 456-64-96',
                mail: 'krasnozn@mail.ru'
              })
            .swiper-slide
              +team-card({
                photo: 'img/petrov.png',
                fullName: {
                  name: 'Вадим',
                  patronymic: 'Валерьевич',
                  surname: 'Петров'
                },
                position: 'Директор по развитию',
                phone: '+7 (812) 677-04-48',
                mail: 'krasnozn@mail.ru'
              })
            .swiper-slide
              +team-card({
                photo: 'img/volkov.png',
                fullName: {
                  name: 'Андрей',
                  patronymic: 'Владиславович',
                  surname: 'Волков'
                },
                position: 'Заместитель директора по экономике и финансам',
                phone: '+7 (812) 456-65-49',
                mail: 'krasnozn@mail.ru'
              })
            .swiper-slide
              +team-card({
                photo: 'img/popenko.png',
                fullName: {
                  name: 'Игорь',
                  patronymic: 'Мизайлович',
                  surname: 'Попенко'
                },
                position: 'Заместитель директора по режиму, персоналу и безопасности',
                phone: '+7 (812) 456-64-55',
                mail: 'krasnozn@mail.ru'
              })

        +slider-progressbar().s-team__slider-progressbar