mixin logo(href, mods)

  -
    let allMods = '';
    if (mods) {
      let modsList = mods.split(',');
      for (let mod of modsList) {
        allMods += ' s-logo--' + mod.trim();
      }
    }

  a.s-logo(href=href, class=allMods)&attributes(attributes)
    block