mixin product-card(props)

  article.s-product-card
    a.s-product-card__media(href='/')
      img(src=props.media, alt='')
    h3.s-product-card__title
      a(href='/') Название
    .s-product-card__desc Поставка синтепона осуществляется в виде рулонов
    +accent-link('Заказать')