.s-product-card {
  padding: 20px;
  background-color: $white;

  @supports ( padding: clamp(20px, 2.5vw, 30px) ) {
    padding: clamp(20px, 2.5vw, 30px);
  }

  &__media {
    display: block;
    padding-top: 100%;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @supports (aspect-ratio: 1) {
      padding-top: initial;
      aspect-ratio: 1;

      img {
        position: relative;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.45em;
  }
}
