.s-page-footer {
  padding: 30px 20px;
  color: $white;
  background-color: $primary-c;

  @supports ( padding: clamp(30px, 5vw, 60px) ) {
    padding: clamp(30px, 10vw, 90px) clamp(20px, 5vw, 40px);
  }

  &__container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;

    @media (max-width: ($screen-lg - 1px)) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      grid-template:
        'krzn top'
        'privacy top'
        'technodinamika middle'
        'rostec bottom'
        / 3fr 9fr;
      gap: 30px;
    }
  }

  &__logo-wrap {

    @media (max-width: ($screen-sm - 1px)) {
      margin-right: 20px;
    }

    @media (max-width: ($screen-lg - 1px)) {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      margin-top: 45px;
      margin-right: 45px;
    }

    &--krzn {
      grid-area: krzn;

      img {

        @media (max-width: ($screen-sm - 1px)) {
          width: auto;
          height: 40px;
        }

        @media (max-width: ($screen-md - 1px)) {
          height: 50px;
        }

        @media (min-width: $screen-lg) {
          width: 120px;
          height: auto;
        }
      }
    }

    &--rostec {
      grid-area: rostec;

      img {

        @media (max-width: ($screen-sm - 1px)) {
          width: auto;
          height: 40px;
        }

        @media (max-width: ($screen-md - 1px)) {
          height: 50px;
        }

        @media (min-width: $screen-lg) {
          padding-top: 76px;
        }
      }
    }

    &--technodinamika {
      grid-area: technodinamika;

      img {

        @media (max-width: ($screen-sm - 1px)) {
          width: auto;
          height: 30px;
        }

        @media (max-width: ($screen-md - 1px)) {
          height: 40px;
        }

        @media (min-width: $screen-lg) {
          padding-top: 76px;
        }
      }
    }
  }

  &__info {

    @media (max-width: ($screen-lg - 1px)) {
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }

    @media (min-width: $screen-sm) and (max-width: ($screen-lg - 1px)) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(3, 3fr);
      grid-template-rows: auto;
    }

    &--top {
      grid-area: top;
    }

    &--middle {
      grid-area: middle;
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid rgba($white, 0.25);

      @media (min-width: $screen-lg) {
        padding-top: 45px;
      }
    }

    &--bottom {
      grid-area: bottom;
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid rgba($white, 0.25);

      @media (min-width: $screen-lg) {
        padding-top: 45px;
      }
    }
  }

  &__section {
    padding-right: 30px;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (min-width: $screen-lg) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-sm) and (max-width: ($screen-lg - 1px)) {
      flex: 0 0 auto;
      width: 33.333333%;
      max-width: 100%;
    }

    &--anti-corruption-activities {

      a {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3em;
        color: currentColor;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: top;
        transition: 0.125s $transition-t;

        &:hover,
        &:focus {
          color: $accent-c;
        }
      }
    }
  }

  &__social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: currentColor;
    text-decoration: none;
    border: 1px solid rgba($white, 0.25);
    border-radius: 50px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background-color: $accent-c;
      border-radius: 50px;
      transition: 0.5s $transition-t;
      transform: scale(1);

      @media (min-width: $screen-md) {
        transform: scale(0);
      }
    }

    svg {
      position: relative;
      z-index: 2;
      display: block;
      transition: 0.25s $transition-t;
      fill: $primary-c;

      @media (min-width: $screen-md) {
        fill: currentColor;
      }
    }

    &:hover,
    &:focus {

      &::before {
        transform: scale(1.05);
      }

      svg {
        fill: $primary-c;
      }
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: #d7b46a;

    @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.45em;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      transition: 0.125s $transition-t;

      &:hover,
      &:focus {
        color: $accent-c;
      }
    }
  }

  &__address {
    font-size: 14px;
    line-height: 1.45em;
  }

  &__privacy {
    grid-area: privacy;
    margin-top: 45px;
    font-family: $font-f--monospace;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5em;

    @media (max-width: ($screen-lg - 1px)) {
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }

    @media (min-width: $screen-lg) {
      align-self: end;
    }
  }

  &__badge {
    opacity: 0.5;
  }

  &__copyright {
    opacity: 0.5;
  }
}
