.s-quick-nav {

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: $primary-c;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  a {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.125s $transition-t;

    &:hover,
    &:focus {
      color: $primary-c;
    }
  }
}
