mixin quick-nav()

  .s-quick-nav&attributes(attributes)
    h3.s-quick-nav__title Навигация по разделам
    ul
      block



mixin quick-nav-item(text, href)

  li&attributes(attributes)
    a(href=href)!= text