.s-service {

  &__intro {
    position: relative;
    margin-bottom: 20px;

    @supports ( margin-bottom: clamp(20px, 7.55vw, 120px) ) {
      margin-bottom: clamp(20px, 7.55vw, 120px);
    }
  }

  &__container {
    @include container;
  }

  &__slider {
    overflow: hidden;

    @media (min-width: $screen-sm) {
      width: calc(50% - 20px);
    }
  }

  &__slide-media {
    height: 390px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-sm) {
      height: 600px;
    }
  }

  &__slider-nav-btn {
    position: relative;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0;

    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }



    &--prev {
      margin-right: 15px;
    }

    &--next {
      margin-left: 15px;
    }
  }

  &__control {
    position: relative;
    z-index: 3;
    padding: 30px 20px 0;
    pointer-events: none;

    @supports ( padding: clamp(20px, 5vw, 40px) ) {
      padding: 30px clamp(20px, 5vw, 40px) 0;
    }
  }

  &__control-wrap {
    display: flex;
    align-items: center;
    pointer-events: all;

    @media (min-width: $screen-sm) {
      width: calc(50% - 20px);
    }
  }

  &__info {
    padding: 0 20px;

    @supports ( padding: clamp(20px, 5vw, 40px) ) {
      padding: 0 clamp(20px, 5vw, 40px);
    }

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .s-service__container {
        height: 100%;
      }
    }
  }

  &__info-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding-top: 30px;

    @supports ( padding-top: clamp(30px, 5vw, 40px) ) {
      padding-top: clamp(30px, 10vw, 40px);
    }

    @media (min-width: $screen-sm) {
      padding-left: calc(50% + 20px);
    }
  }

  &__title {
    @include s-title;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
      margin-bottom: clamp(20px, 5vw, 45px);
    }
  }

  &__types {
    display: grid;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  }

  &__type {
    position: relative;
    padding: 20px 30px 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.45em;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      content: '';
      background-color: $border-c;
    }

    &::before {
      right: 0;
      left: 0;
      height: 1px;
    }

    &::after {
      right: 0;
      width: 1px;
      height: 45px;
    }
  }

  &__type-term {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__type-desc {
    margin: 0;
  }

  &__order {
    margin-top: auto;
  }

  &__full-info {
    padding: 0 20px 45px;

    @supports ( padding: clamp(20px, 5vw, 40px) ) {
      padding: 0 clamp(20px, 5vw, 40px) clamp(45px, 7.55vw, 120px);
    }
  }

  &__tabs-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  &__tabs-title {
    margin: 0 30px 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }
  }

  &__tabs-content-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;

    @supports ( margin-bottom: clamp(15px, 5vw, 30px) ) {
      margin-bottom: clamp(15px, 2.5vw, 30px);
    }
  }

  &__desc {
    display: grid;
    grid-template:
      'info'
      'package'
      'composition'
      'scope'
      'types'
      / 1fr;
    padding-top: 20px;
    gap: 30px;

    @supports ( padding-top: clamp(20px, 5vw, 45px) ) {
      padding-top: clamp(20px, 5vw, 45px);
    }

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template:
        'info package '
        'info composition'
        'info scope'
        'info types'
        / 6fr 6fr;
      gap: 40px;
    }

    @media (min-width: $screen-md) {
      grid-template:
        'info package package'
        'info composition scope'
        'info types .'
        / 6fr 3fr 3fr;
      gap: 40px;
    }
  }

  &__desc-block {
    max-width: 65ch;
    font-size: 16px;
    line-height: 1.5em;

    @media (min-width: $screen-md) {
      padding-right: 30px;
    }

    &--info {
      grid-area: info;
    }

    &--package {
      grid-area: package;
    }

    &--composition {
      grid-area: composition;
    }

    &--scope {
      grid-area: scope;
    }

    &--types {
      grid-area: types;
    }
  }
}
