mixin showreel(reel)

  button.s-showreel(class=allMods, type='button')&attributes(attributes)
    span.s-showreel__in
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 30', width='20', height='30')
        path(d='M0 30V0l20 15L0 30z')
    span.s-showreel__out
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 190 190', width='190', height='190')
        path(d='M185.718 97.8153l.039-1.1415-2.418-.0841.038-1.1128 6.623.2301-.078 2.2543c-.027.7739-.23 1.3655-.61 1.7749-.373.4158-.896.6128-1.567.5888-.672-.023-1.186-.255-1.543-.6968-.349-.4411-.511-1.0454-.484-1.8129zm3.274-1.0292l-2.275-.079-.035 1.0264c-.034.9594.333 1.4523 1.101 1.479.749.026 1.14-.4406 1.173-1.4l.036-1.0264zM189.692 102.714l-.12 1.107-5.633-.61-.318 2.93-.955-.103.438-4.037 6.588.713zM183.547 109.575l-1.27-.69.214-1.171 6.104 3.457-.19 1.039-6.933 1.075.213-1.161 1.432-.197.43-2.352zm.571 2.213l2.795-.387-2.477-1.351-.318 1.738zM183.418 117.056l4.259-1.015-.33 1.253-2.9.608 2.224 1.964-.327 1.244-3.209-2.977-2.675-.703.283-1.077 2.675.703zM177.654 126.245l7.028.257-.45 1.133-5.11-.271 3.899 3.322-.45 1.134-5.292-4.629.375-.946zM181.362 134.529l-.476 1.006-5.992-2.827.475-1.007 5.993 2.828zM172.785 136.879l1.08-1.958 5.803 3.199-1.081 1.958c-.801 1.451-2.054 1.707-3.758.768l-.689-.381c-1.705-.939-2.156-2.135-1.355-3.586zm1.383-.52l-.542.984c-.229.414-.259.793-.089 1.135.166.347.546.685 1.141 1.012l.689.381c.594.327 1.08.467 1.458.42.379-.04.684-.266.913-.681l.542-.983-4.112-2.268zM170.155 141.485l5.525 3.657-2.243 3.385-.809-.535 1.628-2.457-1.457-.965-1.469 2.217-.801-.53 1.469-2.217-1.657-1.097-1.628 2.457-.801-.53 2.243-3.385zM166.638 152.827l-.667-.519c-.778-.606-1.23-1.234-1.356-1.884-.127-.65.052-1.285.536-1.906.484-.621 1.056-.95 1.718-.986.658-.032 1.375.255 2.153.861l.667.519c.778.605 1.232 1.23 1.362 1.875.127.65-.052 1.286-.536 1.907-.484.621-1.056.95-1.718.986-.662.037-1.381-.248-2.159-.853zm2.366-3.037l-.666-.519c-.546-.425-1.016-.649-1.412-.673-.39-.02-.727.152-1.01.516-.283.363-.367.732-.252 1.105.115.382.446.786.992 1.21l.666.519c.546.425 1.016.645 1.41.66.395.024.735-.146 1.018-.51.283-.363.365-.734.245-1.111-.115-.373-.445-.772-.991-1.197zM147.944 168.674l.929-.666-1.409-1.966.905-.648 3.859 5.384-1.835 1.314c-.629.45-1.222.651-1.778.6-.558-.042-1.032-.336-1.424-.882-.391-.546-.521-1.095-.388-1.646.136-.546.516-1.043 1.141-1.49zm2.814 1.964l-1.326-1.849-.835.598c-.781.559-.948 1.151-.5 1.775.436.608 1.044.633 1.825.074l.836-.598zM146.49 174.79l-.951.581-2.954-4.834-2.516 1.536-.5-.819 3.467-2.116 3.454 5.652zM137.238 174.127l-.226-1.427 1.06-.544.977 6.944-.94.483-5.078-4.839 1.051-.539 1.029 1.014 2.127-1.092zm-1.406 1.802l2.01 1.978-.438-2.785-1.572.807zM131.354 178.513l3.405 2.75-1.194.505-2.253-1.924-.197 2.96-1.185.501.398-4.358-1.078-2.546 1.026-.434 1.078 2.546zM120.47 179.571l4.069 5.731-1.173.332-2.893-4.219-.267 5.114-1.174.332.458-7.013.98-.277zM116.162 187.544l-1.088.238-1.415-6.471 1.088-.238 1.415 6.471zM109.053 182.177l2.212-.335.992 6.549-2.213.334c-1.639.248-2.605-.589-2.896-2.513l-.118-.778c-.291-1.924.383-3.009 2.023-3.257zm1.255.781l-1.111.168c-.469.071-.787.277-.956.62-.174.343-.211.851-.109 1.521l.118.778c.101.671.286 1.142.553 1.412.262.277.628.381 1.096.31l1.111-.168-.702-4.641zM103.875 182.875l.485 6.606-4.052.297-.071-.967 2.941-.216-.128-1.742-2.653.195-.071-.958 2.654-.194-.146-1.982-2.9404.216-.0704-.957 4.0518-.298zM92.3088 186.996l.0098-.845c.0114-.986.2377-1.725.6788-2.219.4411-.494 1.0554-.737 1.8429-.728.7874.009 1.3959.266 1.8255.77.4231.504.629 1.249.6176 2.234l-.0098.845c-.0114.985-.2345 1.725-.6692 2.219-.4411.494-1.0554.737-1.8429.728-.7874-.009-1.3959-.266-1.8255-.77-.4295-.504-.6386-1.249-.6272-2.234zm3.8508.044l.0098-.845c.008-.691-.0981-1.201-.3184-1.53-.2204-.322-.561-.486-1.022-.491-.4609-.006-.8053.15-1.033.468-.2343.323-.3554.831-.3634 1.522l-.0098.844c-.008.691.1013 1.198.3281 1.521.2203.329.5609.496 1.0219.501.4609.006.8053-.154 1.0332-.477.2277-.318.3456-.822.3536-1.513zM72.0793 182.792l1.1052.29.6153-2.339 1.0774.283-1.6846 6.405-2.1827-.573c-.7493-.197-1.2818-.525-1.5978-.985-.3237-.456-.4001-1.009-.2292-1.659.1709-.649.511-1.099 1.0203-1.349.5077-.244 1.133-.268 1.8761-.073zm.2825 3.419l.5786-2.2-.9938-.262c-.9289-.244-1.4909.006-1.6862.748-.1905.725.1787 1.209 1.1075 1.453l.9939.261zM66.431 185.581l-1.0529-.363 1.8503-5.353-2.7867-.963.3136-.907 3.8397 1.326-2.164 6.26zM61.0766 178.046l.9547-1.085 1.0951.468-4.7236 5.185-.9714-.415.4847-6.996 1.0862.464-.1246 1.439 2.1989.94zm-2.2849.068l-.2406 2.809 1.8655-2.115-1.6249-.694zM53.958 176.323l.0565 4.376-1.1511-.597.0432-2.961-2.4049 1.738-1.1426-.592 3.6099-2.476 1.2728-2.455.9891.513-1.2729 2.454zM46.2131 168.634l-1.7973 6.795-1.0069-.688 1.3892-4.923-4.1006 3.07-1.0069-.688 5.6821-4.141.8404.575zM37.3433 170.438l-.8789-.684 4.0719-5.226.8789.684-4.0719 5.226zM36.8903 161.517l1.6715 1.487-4.4054 4.948-1.6716-1.487c-1.2387-1.102-1.2111-2.379.0829-3.833l.5235-.588c1.294-1.453 2.5604-1.628 3.7991-.527zm.2009 1.464l-.8394-.746c-.3539-.315-.7165-.428-1.0876-.338-.376.085-.7896.381-1.2408.888l-.5235.588c-.4512.506-.6953.949-.7322 1.327-.0459.379.1081.726.462 1.041l.8393.747 3.1222-3.507zM33.0818 158.033l-4.77 4.598-2.8198-2.923.6982-.673 2.0465 2.121 1.2582-1.212-1.8466-1.914.6914-.667 1.8465 1.914 1.431-1.379-2.0465-2.121.6913-.666 2.8198 2.922zM22.7123 152.047l.6533-.536c.7621-.625 1.4743-.928 2.1365-.908.6623.02 1.2432.334 1.7428.942.4996.609.6944 1.24.5846 1.893-.1139.648-.5519 1.284-1.3141 1.91l-.6533.535c-.7621.626-1.4723.931-2.1305.916-.6622-.02-1.2431-.334-1.7427-.942-.4996-.609-.6945-1.239-.5846-1.892.1098-.653.5458-1.293 1.308-1.918zm2.4431 2.976l.6533-.536c.5345-.439.8569-.848.9671-1.228.1053-.376.0117-.742-.2807-1.099-.2925-.356-.6335-.519-1.0231-.489-.3986.029-.8652.263-1.3997.701l-.6533.536c-.5345.438-.8524.848-.9536 1.229-.1103.38-.0192.749.2733 1.105.2924.356.6359.517 1.0305.483.3896-.03.8517-.264 1.3862-.702zM11.3588 130.325l.4413 1.053 2.2325-.934.4301 1.027-6.11268 2.558-.87139-2.081c-.29912-.714-.36194-1.337-.18845-1.867.16511-.534.55772-.931 1.17785-1.19.62013-.26 1.18428-.263 1.69247-.011.5022.255.9017.736 1.1983 1.445zm-2.54416 2.302l2.09956-.878-.3967-.948c-.3709-.885-.91062-1.179-1.61933-.883-.691.289-.8511.876-.48029 1.762l.39676.947zM5.77488 127.728l-.35585-1.055 5.36937-1.809-.94183-2.792.91003-.307 1.2977 3.848-6.27942 2.115zM8.44273 118.798l1.44225.098.29402 1.153-6.99048-.597-.2608-1.023 5.85242-3.868.29162 1.145-1.21938.776.59035 2.316zm-1.44276-1.772l-2.37837 1.516 2.81462.195-.43625-1.711zM5.49284 112.231l-3.4368 2.711-.22828-1.276 2.37585-1.77-2.84426-.847-.22659-1.267 4.16393 1.353 2.72265-.487.19615 1.096-2.72265.487zM6.84054 101.248l-6.489827 2.706-.065855-1.218 4.754632-1.891-4.931975-1.3867-.065856-1.2173 6.743921 1.991.05496 1.016zM0 94.9512l.0129005-1.1134L6.639 93.9145l-.0129 1.1134L0 94.9512zM6.80787 89.2988l-.16386 2.2305-6.6087535-.485.1638595-2.2305c.121429-1.653 1.152704-2.4082 3.093824-2.2658l.78539.0577c1.94112.1424 2.85097 1.0401 2.72954 2.6931zM5.7678 90.3485l.08228-1.12c.03469-.4723-.09643-.8284-.39337-1.0683-.29647-.2464-.78312-.3944-1.45996-.4441l-.78539-.0576c-.67683-.0497-1.17671.0259-1.49961.2268-.32882.194-.51057.5272-.54527.9995l-.08228 1.12 4.6836.3437zM7.27922 83.9153l-6.548102-1.016.623212-4.0123.95849.1487-.45231 2.912 1.72718.268.40811-2.6274.949.1473-.40811 2.6274 1.96443.3048.45231-2.912.949.1473-.62321 4.0122zM5.67681 72.3905l.82278.1929c.95992.2251 1.63325.6065 2.02 1.1441.38676.5377.4902 1.1896.31033 1.9559-.17987.7663-.56261 1.3043-1.14824 1.614-.58417.3034-1.35621.3425-2.31613.1174l-.82278-.1929c-.95992-.2251-1.63398-.6033-2.0222-1.1348-.38675-.5376-.49019-1.1896-.31033-1.9559.17987-.7663.56262-1.3043 1.14825-1.6139.58563-.3096 1.3584-.3519 2.31832-.1268zm-.8796 3.7474l.82279.1929c.67319.1579 1.19432.165 1.56339.0215.36285-.145.59691-.4417.7022-.8903s.02769-.8184-.23279-1.1095c-.26525-.2989-.73447-.5272-1.40765-.6851l-.82279-.1929c-.67319-.1579-1.19193-.1612-1.55624-.01-.36907.1435-.60626.4396-.71154.8881-.10529.4486-.02458.8192.24213 1.1118.26048.2911.72732.5156 1.4005.6735zM14.3161 53.3345l-.5297 1.0122 2.1445 1.1211-.5163.9867-5.87184-3.0698 1.04604-1.9988c.359-.6861.7982-1.1318 1.3174-1.337.5165-.2138 1.0726-.165 1.6683.1464.5957.3115.9587.7431 1.0889 1.2951.1246.549.0088 1.1637-.3473 1.8441zm-3.3975-.4871l2.0168 1.0544.4763-.9101c.4451-.8506.3273-1.4538-.3535-1.8097-.6638-.347-1.2182-.0952-1.6633.7553l-.4763.9101zM12.8371 47.2233l.5877-.946 4.8137 2.9874 1.5552-2.5035.8159.5063-2.1428 3.4495-5.6297-3.4937zM21.3505 43.6877l.845 1.1722-.7005.9626-4.0029-5.7591.6214-.8539 6.7146 2.0332-.6948.9547-1.3761-.4426-1.4067 1.9329zm.4436-2.2414l-2.6865-.8612 1.647 2.2895 1.0395-1.4283zM24.5567 37.1736l-4.2813-.9151.837-.9896 2.8798.6987-1.1624-2.7293.8308-.9823 1.6153 4.0672 2.1123 1.7847-.7192.8504-2.1123-1.7847zM33.7064 31.3409l-6.2354-3.249.8932-.8301 4.4981 2.4387-2.0928-4.6742.8932-.8301 2.7892 6.4518-.7455.6929zM33.7786 22.3703l.8611-.7064 4.2039 5.1198-.8611.7064-4.2039-5.1198zM42.4089 23.9882l-1.8144 1.3091-3.8785-5.3703 1.8144-1.309c1.3445-.9701 2.5864-.6665 3.7256.9109l.4609.6382c1.1392 1.5774 1.0365 2.8511-.308 3.8211zm-1.4732-.1209l.9111-.6574c.3841-.2771.5726-.6065.5655-.9881-.0019-.3853-.2015-.853-.5987-1.403l-.4609-.6382c-.3972-.55-.7766-.884-1.1382-1.0019-.3601-.1269-.7322-.0518-1.1164.2253l-.9111.6574 2.7487 3.8059zM46.9096 20.8206l-3.4332-5.665 3.4747-2.1036.5025.8292-2.5218 1.5267.9056 1.4943 2.2753-1.3776.4976.821-2.2754 1.3776 1.03 1.6995 2.5218-1.5267.4975.821-3.4746 2.1036zM54.7449 12.152l.3806.7542c.444.8799.5841 1.6407.4202 2.2823-.1638.6416-.5973 1.1396-1.3005 1.4941-.7031.3544-1.3615.4068-1.9751.1571-.6079-.2526-1.1338-.8189-1.5778-1.6988l-.3806-.7542c-.444-.8799-.5869-1.6393-.4288-2.278.1639-.6416.5974-1.1397 1.3005-1.4941.7032-.3544 1.3615-.4068 1.9751-.1571.6137.2497 1.1425.8146 1.5864 1.6945zm-3.4385 1.7333l.3806.7542c.3114.6171.6406 1.0209.9877 1.2114.3442.1849.7222.1735 1.1338-.0339.4115-.2075.6453-.5045.7012-.8911.0588-.3951-.0675-.9012-.3789-1.5183l-.3805-.7542c-.3114-.6171-.6421-1.0166-.992-1.1986-.3471-.1905-.7265-.1821-1.1381.0254-.4116.2075-.6439.5074-.6969.8996-.056.3866.0717.8884.3831 1.5055zM78.7991 5.685l-1.1257.19682.417 2.38274-1.0974.19186-1.1418-6.52417 2.2231-.38868c.7631-.13342 1.3842-.05687 1.8634.22966.4843.27912.7844.74962.9002 1.41149.1158.66187-.0055 1.21255-.3641 1.65203-.3596.43318-.9179.71593-1.6747.84825zm-1.6834-2.98962l.3922 2.24091 1.0122-.17697c.946-.1654 1.3528-.62631 1.2204-1.38274-.129-.73751-.6666-1.02357-1.6126-.85818l-1.0122.17698zM82.6126.801437L83.721.690002l.5671 5.634908 2.9335-.29492.0961.95507-4.0419.40636-.6632-6.589983zM90.697 5.37638l-.4141 1.38433-1.1904.03216 2.125-6.683055 1.056-.0285244L94.7566 6.63987l-1.1809.0319-.4883-1.35996-2.3904.06457zm2.0477-1.01555l-.9556-2.65325-.8109 2.70097 1.7665-.04772zM98.4135 3.95738L96.5449 0l1.2949.0649787L99.0305 2.77736 100.497.198305l1.285.064498-2.2559 3.750417-.1387 2.761-1.1126-.05583.1387-2.76101zM108.407 7.6635L107.204.738662l1.202.205456.792 5.053122 2.446-4.49985 1.202.20546-3.436 6.13214-1.003-.17149zM116.001 2.36869l1.083.25844-1.538 6.44236-1.083-.25844 1.538-6.44236zM119.583 10.1244l-2.141-.65009 1.926-6.33725 2.142.65011c1.586.48177 2.097 1.65334 1.531 3.51472l-.229.75312c-.566 1.86138-1.642 2.55119-3.229 2.06939zm-.796-1.24487l1.076.32645c.453.13765.829.08808 1.129-.1487.305-.23492.557-.6769.754-1.32593l.229-.75312c.197-.64903.233-1.15305.108-1.51206-.117-.36327-.402-.61373-.855-.75137l-1.076-.32645-1.365 4.49118zM125.09 11.8814l2.443-6.15641 3.776 1.49742-.357.90115-2.741-1.08678-.644 1.62386 2.472.98057-.354.89219-2.473-.98053-.733 1.84693 2.741 1.0868-.354.8922-3.776-1.4974zM136.809 12.9371l-.372.7584c-.435.8848-.957 1.4554-1.568 1.712-.611.2565-1.27.2115-1.977-.1351-.707-.3466-1.146-.8398-1.317-1.4796-.165-.6369-.03-1.3978.404-2.2826l.372-.7584c.434-.88478.954-1.45685 1.559-1.7162.61-.25653 1.269-.21149 1.976.1351.707.3466 1.147.8398 1.317 1.4795.171.6398.04 1.4021-.394 2.2869zm-3.458-1.695l-.372.7584c-.305.6205-.428 1.1266-.371 1.5182.061.3859.298.6803.712.8832.413.2029.791.21 1.134.0214.35-.1916.678-.5976.982-1.2181l.373-.7584c.304-.6205.423-1.1252.357-1.5139-.057-.3916-.293-.6889-.707-.8918-.414-.20285-.793-.2071-1.138-.0127-.342.1886-.665.5932-.97 1.2137zM153.129 25.2965l-.873-.7375-1.562 1.8473-.851-.7188 4.278-5.0581 1.724 1.4563c.591.4999.931 1.0254 1.018 1.5766.096.5505-.073 1.0823-.507 1.5954-.434.5132-.935.7731-1.502.7797-.563.0018-1.138-.2452-1.725-.7409zm1.217-3.2079l-1.47 1.7374.785.663c.734.6197 1.348.6364 1.844.0499.484-.5718.359-1.1675-.375-1.7872l-.784-.6631zM159.378 25.1317l.796.7787-3.962 4.048 2.107 2.0609-.671.6861-2.904-2.8396 4.634-4.7341zM161.346 34.5879l-1.33.5659-.786-.8949 6.502-2.6352.697.7939-3.462 6.0991-.779-.8876.735-1.2443-1.577-1.7969zm2.09.9258l1.431-2.4298-2.597 1.102 1.166 1.3278zM166.997 39.1514l1.835-3.973.782 1.0339-1.316 2.6541 2.92-.5328.776 1.0261-4.325.68-2.207 1.6668-.671-.8884 2.206-1.6667zM170.713 49.4307l4.548-5.3602.613 1.0541-3.374 3.8458 5.023-1.0071.613 1.0542-6.912 1.293-.511-.8798zM179.492 51.5812l.498.9961-5.928 2.9605-.498-.996 5.928-2.9606zM176.041 59.759l-.872-2.0599 6.104-2.5801.871 2.0599c.646 1.5264.073 2.6686-1.72 3.4264l-.725.3066c-1.793.7579-3.012.3735-3.658-1.1529zm.447-1.4083l.438 1.0343c.184.4362.463.6933.837.7716.376.0841.877-.0059 1.502-.2702l.725-.3066c.625-.2642 1.036-.5593 1.232-.8853.204-.3225.213-.7018.029-1.138l-.438-1.0343-4.325 1.8285zM177.988 64.5145l6.287-2.0919 1.284 3.8524-.921.3062-.931-2.796-1.658.5518.84 2.5228-.911.3032-.841-2.5228-1.886.6276.931 2.796-.911.3032-1.283-3.8525zM184.769 74.3534l-.82.2024c-.958.236-1.731.2025-2.32-.1004-.589-.303-.978-.8365-1.167-1.6007-.188-.7642-.092-1.4173.288-1.9594.382-.5358 1.052-.9217 2.009-1.1577l.821-.2023c.957-.2361 1.73-.2057 2.317.091.589.303.978.8365 1.167 1.6007.188.7642.093 1.4173-.288 1.9594-.381.542-1.05.931-2.007 1.167zm-.922-3.7371l-.821.2023c-.671.1655-1.138.3961-1.402.6917-.257.2941-.33.6648-.22 1.1122.111.4473.348.7414.712.8822.373.1455.894.1355 1.566-.03l.82-.2023c.672-.1655 1.135-.3985 1.391-.6988.263-.2956.34-.667.229-1.1144-.11-.4473-.351-.7406-.721-.8799-.365-.1409-.883-.1285-1.554.037z')
