.s-contacts {
  padding: 20px;

  @supports ( padding: clamp(20px, 5vw, 45px) ) {
    padding: clamp(20px, 5vw, 60px) clamp(20px, 5vw, 40px) clamp(45px, 7.5vw, 120px);
  }

  &__container {
    @include container;
  }

  &__title {
    @include s-title;
    margin-bottom: 20px;

    @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
      margin-bottom: clamp(20px, 5vw, 60px);
    }
  }

  &__section {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'intro info' / 4fr 8fr;
      gap: 40px;

      @supports ( gap: clamp(20px, 5vw, 40px) ) {
        gap: clamp(20px, 5vw, 40px);
      }
    }

    &--head {
      margin-bottom: 45px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4em;

      @supports ( margin-bottom: clamp(45px, 10vw, 90px) ) {
        margin-bottom: clamp(45px, 10vw, 90px);
      }

      @media (max-width: ($screen-sm - 1px)) {
        padding-top: 15px;
      }

      .s-contacts__section-info {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        @media (min-width: $screen-xs) {
          gap: 40px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
        }

        @media (min-width: $screen-md) {
          gap: 40px;
          grid-template-columns: 3fr 5fr;
          grid-template-rows: auto;
        }
      }
    }

    &--departments {
      margin-bottom: 45px;

      @supports ( margin-bottom: clamp(45px, 10vw, 90px) ) {
        margin-bottom: clamp(45px, 10vw, 90px);
      }

      @media (max-width: ($screen-sm - 1px)) {
        padding-top: 30px;
        border-top: 1px solid $border-c;
      }

      .s-contacts__section-intro {

        @media (min-width: $screen-sm) {
          padding-top: 30px;

          @supports ( padding-top: clamp(30px, 10vw, 60px) ) {
            padding-top: clamp(30px, 10vw, 60px);
          }
        }
      }

      .s-contacts__section-info {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        @media (min-width: $screen-xs) {
          gap: 40px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
        }

        @media (min-width: $screen-sm) {
          padding-top: 30px;
          border-top: 1px solid $border-c;

          @supports ( padding-top: clamp(30px, 10vw, 60px) ) {
            padding-top: clamp(30px, 10vw, 60px);
          }
        }

        @media (min-width: $screen-md) {
          gap: 40px;
          grid-template-columns: 3fr 5fr;
          grid-template-rows: auto;
        }
      }

      .s-contacts__subtitle {
        margin-bottom: 10px;
      }
    }

    &--location {

      @media (max-width: ($screen-sm - 1px)) {
        padding-top: 30px;
        border-top: 1px solid $border-c;
      }

      .s-contacts__section-intro {
        display: none;

        @media (min-width: $screen-sm) {
          display: block;
          align-self: end;
        }
      }

      .s-contacts__section-info {

        @media (min-width: $screen-sm) {
          padding-top: 30px;
          border-top: 1px solid $border-c;

          @supports ( padding-top: clamp(30px, 10vw, 60px) ) {
            padding-top: clamp(30px, 10vw, 60px);
          }
        }
      }
    }
  }

  &__section-intro {

    @media (min-width: $screen-sm) {
      grid-area: intro;
    }
  }

  &__section-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $primary-c;

    &::before {
      position: relative;
      display: inline-flex;
      width: 8px;
      height: 8px;
      margin-right: 10px;
      vertical-align: baseline;
      content: '';
      background-color: currentColor;
      border-radius: 8px;
    }
  }

  &__section-info {

    @media (min-width: $screen-sm) {
      grid-area: info;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $font-f--monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $primary-c;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
      white-space: nowrap;
      transition: 0.125s $transition-t;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $primary-c;
      }
    }

    &--location {

      @media (min-width: $screen-xs) {
        grid-column: 1 / span 2;
      }
    }
  }

  &__block-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4em;
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: $accent-c;
    background-color: $primary-c;
    border-radius: 60px;

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__map {
    height: 480px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
