mixin service-card(props, global)

  if global
    a.s-service-card.s-service-card--global(href='/')
      h3.s-service-card__title!= props.title
      .s-service-card__arrow
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 12', width='12', height='12')
          path(stroke-linecap='round', stroke-linejoin='round', d='M1 11 11 1m0 0H5m6 0v6')

  else
    a.s-service-card(href='/')
      h3.s-service-card__title!= props.title
      .s-service-card__arrow
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 12', width='12', height='12')
          path(stroke-linecap='round', stroke-linejoin='round', d='M1 11 11 1m0 0H5m6 0v6')
      .s-service-card__media
        img(src=props.media, alt='')