.s-service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  color: $text-c;
  text-decoration: none;
  background-color: $bg-c--shade;
  outline: none;

  @supports ( padding: clamp(20px, 5vw, 30px) ) {
    padding: clamp(20px, 5vw, 30px);
  }

  @media (min-width: $screen-lg) {

    @supports ( height: max(25vh, 400px) ) {
      height: max(25vh, 400px);
    }
  }

  &:hover,
  &:focus {
    color: $white;

    .s-service-card__media {
      opacity: 1;

      img {
        transform: scale(1);
      }
    }

    .s-service-card__arrow {
      color: $text-c;

      &::before {
        transform: scale(1.05);
      }

      svg {
        transform: translate3d(0.125rem, -0.125rem, 0);
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3em;
  }

  &__arrow {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: auto;
    overflow: visible;
    border: 1px solid rgba($text-c, 0.125);
    border-radius: 50px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background-color: $white;
      border-radius: 50px;
      transition: transform 1s $transition-t--faster;
      transform: scale(0);
      transform-origin: center center;
    }

    svg {
      position: relative;
      z-index: 2;
      display: block;
      transition: 1.25s $transition-t 0.125s;
      stroke: currentColor;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: 0.75s $transition-t--faster;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background-color: #1a1817;
      opacity: 0.5;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: 1.5s $transition-t--faster;
      transform: scale(1.05);
      object-fit: cover;
    }
  }

  &--global {
    color: $white;
    background-color: $primary-c;

    .s-service-card__arrow {
      border: 1px solid rgba($white, 0.125);
    }
  }
}
