mixin back-to-a-previous-page(href)

  a.s-back-to-a-previous-page(href=href)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 11', width='17', height='11')
      path(stroke-linecap='round', stroke-linejoin='round', d='M16 5.5H1m0 0L5.5 1M1 5.5 5.5 10')