.s-back-to-a-previous-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: $accent-c;
  background-color: $primary-c;
  border-radius: 60px;

  svg {
    display: block;
    stroke: currentColor;
  }
}
