.s-advantages {
  @include s-basics;
  position: relative;

  &__container {
    @include container;
  }

  &__title {
    @include s-title;
    margin-bottom: 30px;

    @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
      margin-bottom: clamp(30px, 5vw, 45px);
    }
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    grid-template-rows: auto;

    @supports ( gap: clamp(15px, 5vw, 40px) ) {
      gap: clamp(30px, 5vw, 40px);
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
  }

  &__desc {
    max-width: 55ch;
    font-size: 14px;
    line-height: 1.5em;
  }

  &__content {
    position: relative;
    z-index: 2;
    color: $white;
  }

  &__bg-media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $text-c;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #1a1817;
      opacity: 0.75;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
