.s-slider-progressbar {
  position: relative;
  width: 100%;
  height: 1px !important;
  background-color: rgba($text-c, 0.125);

  .swiper-pagination-progressbar-fill {
    background-color: $text-c;
  }
}
