mixin burger()

  button.s-burger(type='button')&attributes(attributes)
    span.s-burger__caption Меню
    span.s-burger__icon
      span.s-burger__line
      span.s-burger__line.s-burger__line--middle
      span.s-burger__line
    span.s-burger__close
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 28 28', width='28', height='28')
        path(stroke-width='2', d='m1 27 13-13m0 0L27 1M14 14l13 13M14 14 1 1')