.s-burger {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  font-family: $font-f;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0;

  &:hover {

    .s-burger__line--middle {

      &::before,
      &::after {
        transform: translateX(-40px);
      }
    }
  }

  &__caption {
    margin-right: 15px;
    font-size: 15px;
    line-height: 1.5em;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 16px;
    overflow: hidden;
    transition: all 0.5s $transition-t--faster;
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    &--middle {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        width: 8px;
        height: 2px;
        content: '';
        background-color: #fff;
        transition: transform 0.75s $transition-t--faster;
      }

      &::before {
        left: 25px;
      }

      &::after {
        left: calc(100% + 25px);
      }
    }
  }

  &__close {
    position: absolute;
    top: calc(50% - 14px);
    right: 5px;
    opacity: 0;
    transition: all 0.5s $transition-t--faster;
    transform: scale(0);

    svg {
      display: block;
      stroke: currentColor;
    }
  }

  &--close {

    &:hover {

      .s-burger__close {
        color: $primary-c;
      }
    }

    .s-burger__close {
      opacity: 1;
      transform: scale(1);
    }

    .s-burger__icon {
      opacity: 0;
      transform: scale(0);
    }
  }
}
