// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-c:                #262626;
$text-c--light:         #fff;

$bg-c:                  #fff;
$bg-c--shade:           #eceaea;
$bg-c--dark:            $text-c;

$white:                 #fff;

$primary-c:             #893540;
$accent-c:              #d7b46a;

// Fonts
$font-f: 'IBM Plex Sans', sans-serif;
$font-f--monospace: 'IBM Plex Mono', monospace;

// Misc
$border-c: rgba($text-c, 0.125);
$border-r: 4px;
$transition-t: cubic-bezier(0.15, 0.85, 0.45, 1);
$transition-t--faster: cubic-bezier(0.075, 0.82, 0.165, 1);



// Mixins
@mixin s-basics {
  padding: 45px 20px;

  @supports (padding: clamp(45px, 7.5vw, 90px)) {
    padding: clamp(45px, 7.5vw, 90px) clamp(20px, 5vw, 40px) clamp(45px, 7.5vw, 120px);
  }
}

@mixin container {
  max-width: 1300px;
  margin: 0 auto;

  @supports ( width: min(1300px, 100%) ) {
    width: min(1300px, 100%);
  }
}

@mixin s-title {
  margin-top: 0;
  margin-left: -0.075em;
  font-size: 39px;
  font-weight: 700;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: -0.025em;

  @supports ( font-size: clamp(39px, 5vw, 56px) ) {
    font-size: clamp(39px, 5vw, 56px);
  }
}

@mixin s-title-margin {
  margin-bottom: 20px;

  @supports ( margin-bottom: clamp(20px, 5vw, 45px) ) {
    margin-bottom: clamp(20px, 5vw, 45px);
  }
}
